<h1>Please SignUp Here</h1>
<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" value="user[username]" name="username">
  <label for="email">Email</label>
  <input type="text" value="user[email]" name="email">
  <label for="password">Passwor</label>
  <input type="text" value="user[password]" name="password">
<input type="submit"value="Sign Up">
</form>
